{{ template "header" . }}
<h1>タスクの新規登録</h1>
<form action="/task/new" method="POST">
    <dl>
        <dt class="task_dt">タイトル</dt>
        <dd><input type="text" name="title" required ></dd>
        <dt class="task_dt">説明文</dt>
        <dd><textarea name="detail"></textarea></dd>
        <dt class="task_dt">締切</dt>
        <dd><input type="date" name="deadline" required></dd>
    </dl>
    <input type="submit" value="登録" style="position: absolute; left: 321px; top: 344px">
    <a href="/list"><button type="button" style="position: absolute; left: 371px; top: 344px">戻る</button></a>
</form>
{{ template "footer" }}