/* placeholder file for CSS */
textarea {
    resize: none;
    width:300px;
    height:200px;
}

.task_dt {
    text-align: right;
    float: left ;
    clear: left ;
    margin-right: 0.1em;
    width: 100px ;
}
.radio_done{
    margin-left: 105px;
}